@{
    ViewData["Title"] = "Información de la Empresa";
}

<h2>Armobla Hogar & Empresas</h2>
<p>
    Dedicada al rubro de mobiliario para el hogar, oficinas y espacios comerciales.
    Esta empresa, con presencia en el mercado a través de plataformas como facebook y otras redes sociales, se especializa en la fabricación y venta de escritorios, repisas, mesas de centro, muebles para tv, entre otros artículos de diseño moderno y funcional.
    El principal mercado de Armobla se ubica en Villa el Salvador, lugar donde la empresa se estableció. De igual forma, realizan trabajos a domicilio, y en el caso de realizarse un diseño de habitaciones, cocina, etc., cuentan con un equipo y asesoría especializadas para poder brindar un servicio de calidad al cliente, basándose en sus preferencias y en el espacio a rediseñarse.

</p>
