@{
    ViewData["Title"] = "Bienvenidos!";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenidos a Armobla Hogar & Empresas</h1>
    <img src="~/img/armobla.jpg" alt="Logo de Armobla" style="max-height: 150px;" class="mt-4" />

    <p class="lead mt-4">
        Calidad, diseño y funcionalidad en cada espacio.
    </p>

    <a href="@Url.Action("Empresa", "Home")" class="btn btn-primary mt-3">
        Conócenos
    </a>
</div>
